.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgb(0 0 0 / 15%);
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 75px;
    position: relative;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-legend {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 17.5px;
    position: absolute;
    top: -40px;
    left: 0px;
}
.login-label {
    border-radius: 15px;
    display: flex;
    height: 50px;
    border: 1px solid #707070;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
}
.login-input {
    border: none;
    flex-grow: 1;
}
.login-eye-btn {
    display: flex;
    height: 100%;
    border: none;
    width: 48px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #707070;
    cursor: pointer;
    padding: 10px;
}
.visible-icon {
    display: block;
}
.login-eye-btn.show .visible-icon {
    display: none;
}
.invisible-icon {
    display: none;
}
.login-eye-btn.show .invisible-icon {
    display: block;
}
.login-submit-btn {
    min-width: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    transition: 0.3s;
}
.login-submit-btn:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 15%);
}
